html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.left h1{
    font-size: 60px;
    font-weight: 600;
}
.left h3 {
    font-size: 40px;
    font-weight: 600;
    
}
#homePage{
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
}
#homeImage{
    height: 550px;
    width: 550px;
}
.login {
    font-weight: 600;
    position: relative;
}

    .login::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        background-color: #93c54b;
        left: 50px;
        top: 12px;
        border-radius: 50%;
    }

#responsive-login {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 50px;
}
@media only screen and (max-width: 786px){
    #homePage{
        flex-direction: column;
        gap: 50px;
    }
    .left h1 {
        font-size: 40px;
        font-weight: 600;
        padding-top: 200px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .left h3 {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #homeImage {
        height: 400px;
        width: 400px;
    }
    .loginForm{
        padding-top: 300px;
    }
    .loginFormResponsive{
        margin-top: 230px;
    }
    .loginImage{
        padding-top: 50px;
    }
    .responsive-login{
        flex-direction: column-reverse;
    }
}